.variables-editor-container {
  height: 30%;
  width: 100%;

  .variables-editor {
    resize: none;
    height: 100%;
    width: 100%;
    color: var(--bs-body-color);
    border: none;
    padding: 0 10px;
    background: #2a0f58;
    outline: none;
  }
}
