.graphql-container {
  display: flex;
  column-gap: 20px;
}

.documentation-explorer-container {
  width: 300px;
  border: 1px solid green;
}

.request-editor-container {
  height: 500px;
  width: 300px;
  border: 1px solid green;
}

.response-section {
  height: 500px;
  width: 300px;
  border: 1px solid green;
}
