.graphql-container {
  position: relative;
  display: flex;
  font-family: monospace;
  width: 100%;
  overflow: hidden;

  .doc-query {
    display: flex;
    position: relative;

    .documentation-explorer-container {
      overflow-x: hidden;
      overflow-y: auto;
    }

    .documentation-explorer-container::-webkit-scrollbar {
      border-radius: 10px;
      background-color: #7a7676;
      width: 20px;
    }

    .documentation-explorer-container::-webkit-scrollbar-thumb {
      background-color: #6e801f;
      border: 3px solid #7a7676;
      border-radius: 10px;
      background-image: URL(././assets/scroll.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    .documentation-explorer-container::-webkit-scrollbar-thumb:hover {
      background-color: #c3df4a;
    }

    .request-editor-container {
      position: relative;
      flex-shrink: 1 !important;
    }
  }

  .response-section {
    flex-shrink: 1 !important;
    overflow-x: hidden;
    overflow-y: auto;
    // background: #2a0f58;
    // padding: 0 10px;
  }
}
