@keyframes pulse {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.6);
  }
}

.request-editor {
  height: 70%;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 0 !important;

  .request-btn {
    height: 30px;
    width: 76px;
    position: absolute;
    top: 3px;
    right: 9px;
    background: #6f42c1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 14px;

    .request-btn-icon {
      background: url('../../assets/icons/play-solid.svg') no-repeat center;
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    .request-btn-name {
      color: #e232b6;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .request-btn:hover {
    animation: pulse 800ms infinite;
  }

  .request-btn:active {
    filter: brightness(0) saturate(100%) invert(34%) sepia(41%) saturate(1796%) hue-rotate(232deg)
      brightness(86%) contrast(100%);
  }

  .request-editor-textarea {
    resize: none;
    height: 90%;
    width: 100%;
    background: none;
    color: var(--bs-body-color);
    border: none;
    padding: 0 10px;
    outline: none;
    overflow: auto;
  }

  .request-editor-textarea::-webkit-scrollbar {
    border-radius: 10px;
    background-color: transparent;
    width: 13px;
    height: 13px;
  }

  .request-editor-textarea::-webkit-scrollbar-thumb {
    background-color: #e6e8ec;
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    background-image: URL(../../assets/icons/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .request-editor-textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #ffffff;
    border-radius: 10px;
  }
}
