.query-container {
  background: #1c073f;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .query-name {
    height: fit-content;
  }

  .query-name:hover {
    cursor: pointer;
    color: #c733ae;
  }

  .category-container {
    padding: 0 10px;
    margin-bottom: 20px;
    width: 260px;
    //display: none;

    .query-arguments {
      margin-bottom: 10px;
    }

    .param-name {
      color: #c733ae;
    }
  }

  .query-item-label {
    .query-item-input {
      margin-right: 5px;
    }

    .type-fields-array {
      color: yellow;
    }

    .type-fields-string {
      color: #8bc34a;
    }
  }

  .query-item-label:hover {
    cursor: pointer;
    color: #c733ae;
  }
}
