.query-container {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;

  .category-container {
    .query-arguments {
      margin-bottom: 10px;
    }
  }

  .query-item-label {
    cursor: pointer;

    .type-fields-array {
      color: yellow;
    }

    .type-fields-string {
      color: #8bc34a;
    }
  }
}
